{% extends "base.html" %}
{% block title %} FashionEvo - Create Account{% endblock %}
{% from "includes/_formHelper.html" import render_field %}
{% block content %}
<form method="post" action="">
    <div class="column is-4 is-offset-4">
        <h3 class="title">Sign Up</h3>
        <div class="box">
            <form method="POST" action="/signup">
                <div class="form-group">
                    {{ render_field(form.first_name, class="form-control") }}
                </div>
                <div class="form-group">
                    {{ render_field(form.last_name, class="form-control") }}
                </div>
                <div class="form-group">
                    {{ render_field(form.gender, class="form-control") }}
                </div>
                <div class="form-group">
                    {{ render_field(form.email, class="form-control") }}
                </div>
                <div class="form-group">
                    {{ render_field(form.dob, class="form-control datepicker") }}
                </div>
                <div class="form-group">
                    {{ render_field(form.height, class="form-control") }}
                </div>
                <div class="form-group">
                    {{ render_field(form.shoe_size, class="form-control") }}
                </div>
                <div class="form-group">
                    {{ render_field(form.personal_style, class="form-control") }}
                </div>
                <div class="form-group">
                    {{ render_field(form.events, class="form-control") }}
                </div>
                <div class="form-group">
                    {{ render_field(form.points, class="form-control") }}
                </div>
                <div class="form-group">
                    {{ render_field(form.password, class="form-control", placeholder="Password") }}
                </div>

                <button type="submit" value="submit" class="smbbtn">Submit</button>
            </form>
        </div>
    </div>
</form>
{% endblock %}