{% extends "base.html" %}
{% block title %} FashionEvo - Create Account{% endblock %}
{% from "includes/_formHelper.html" import render_field %}
{% block content %}
<section id="loginform">
    <div class="box">
        <h3 class="first-title">Login</h3>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="flash-messages">
            {% for message in messages %}
            <div class="flash-message">
                {{ message }}
                <button class="close-btn" onclick="this.parentNode.style.display = 'none';">×</button>
            </div>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}
        <form method="POST" action="">
            <div class="form-group">
                {{ render_field(form.email, class="form-control") }}
            </div>
            <div class="form-group">
                {{ render_field(form.password, class="form-control") }}
                <a href="/verify">Forgot Password</a>
            </div>

            <div class="login-btn">
                <button type="submit" value="submit" class="login-btn">Login</button>
            </div>
            <div class="register-link">
                <p>Dont have an account?<a href="newcustomer">Register Here</a></p>
            </div>
        </form>
    </div>
</section>
{% endblock %}