{% extends "base.html" %}
{% block title %} FashionEvo - Retrieve Staff {% endblock %}

{% block content %}
<h1 class="display-4">Retrieve Staff</h1>
<div>
    {% if count == 0 %}
    <p>There are no Staff.</p>
    {% elif count == 1 %}
    <p>There is 1 Staff.</p>
    {% else %}
    <p>There are {{ count }} staffs.</p>
    {% endif %}
</div>
<div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Customer ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Password</th>
            <th>Gender</th>
            <th>Date of Birth</th>
            <th>Contact Number</th>
            <th>Position</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for staff in staffs_list %}
        <tr>
            <td>{{ staff.get_staff_id() }}</td>
            <td>{{ staff.get_first_name() }}</td>
            <td>{{ staff.get_last_name() }}</td>
            <td>{{ staff.get_email() }}</td>
            <td>{{ staff.get_password() }}</td>
            <td>{{ staff.get_gender() }}</td>
            <td>{{ staff.get_dob() }}</td>
            <td>{{ staff.get_contact_number() }}</td>
            {% if staff.get_position() == "F" %}
            <td>Fellow</td>
            {% elif staff.get_position() == "S" %}
            <td>Senior</td>
            {% elif staff.get_position() == "P" %}
            <td>Professional</td>
            {% endif %}

            <td><a href="/interface_staff/{{staff.get_staff_id()}}" class="btn btn-warning">Update</a></td>
            <td>
                <form action="{{url_for('delete_staff', id=staff.get_staff_id())}}" method="POST">
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                            data-bs-target="#myModal_{{staff.get_staff_id()}}">
                        Delete
                    </button>

                    <!-- The Modal -->
                    <div class="modal" id="myModal_{{staff.get_staff_id()}}">
                        <div class="modal-dialog">
                            <div class="modal-content">

                                <!-- Modal Header -->
                                <div class="modal-header">
                                    <h4 class="modal-title">Delete Confirmation</h4>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                </div>

                                <!-- Modal body -->
                                <div class="modal-body">
                                    Are you sure you want to delete {{staff.get_first_name()}}
                                    {{staff.get_last_name()}}?
                                </div>

                                <!-- Modal footer -->
                                <div class="modal-footer">
                                    <input type="submit" value="Delete" class="btn btn-danger">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel
                                    </button>
                                </div>

                            </div>
                        </div>
                    </div>
                </form>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
